
/*{border: 5px solid red;}*/
html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 100%;
      text-align: center;
    }

    .wrapimage{ float:right;
              margin:10px;}

    header {
        background-color:black ;
        padding:2px;
        font-size:30 ;
        display: block;
        color:green;
        text-align: center;
    }

    img {width:200px;height:auto;
      text-align: center; }
    nav {
        text-align: center;;
    }
    nav ul {
        padding: ;
        text-align: center;;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        text-align: center;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        text-align: center;;
    }
    a {
        color: ;
    }
    section {
        width: 73%;
        display: inline-block;
        text-align: center;;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:green;
        color:black;
        clear: both;
        display: block;
    }
